.errorBox {
  padding: 8px;
  display: flex;
  background: #e86666;
  border-radius: 4px;
  margin-bottom: 16px;
  & .errorBox__text {
    color: #fff;
    margin-left: 10px;
  }
}

.info-icon {
  display: inline;
  width: 16px;
  height: auto;
}
