/* Color */
$color-white: #ffffff;
$color-black: #000000;

$color-purple--primary: #4f2a81;
$color-purple--secondary: #7631c1;
$color-purple--mid: #9e6fd4;
$color-purple--light: #c7ade7;
$color-purple--bright: #f0ebfb;

$color-black--primary: #353239;
$color-black--secondary: #68636e;
$color-black--mid: #959199;
$color-black--light: #a8a4ac;
$color-black--bright: #c9c6cd;

$color-gray: rgba(115, 110, 122, 1);
$color-yellow: rgba(245, 183, 82, 1);

$notification-positive: #2acb78;
$notification-warning: #f7a819;
$notification-negative: #f05f61;
$notification-negative--soft: #fde7e8;

$background-purple: #ebe1ef;
$background-gray: #f5f3f6;
$background-light: #fefefefe;
$background-white: #ffffff;
